html, body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1366px;
    height: 768px;
}

#svg-container {
    position: relative;
    width: 1366px;
    height: 768px;
    border: 1px solid #ccc;
}

#svg-container svg {
    width: 100%;
    height: 100%;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
}

/* Ensure the p5 canvas element itself doesn't interfere with mouse event*/
canvas {
    pointer-events: none;
    /*display: block;*/
}